/* Container for both main and additional images */
/* .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* Main image should be double the size */
.main-image {
  width: 100%;
  height: 600px; /* Double the height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #d3d3d3; /* Border color and width */
  border-radius: 8px
}

/* Additional images should be uniform in size */
.additional-image {
  width: 100%;
  height: 400px; /* Consistent height for additional images */
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #d3d3d3; /* Border color and width */
  border-radius: 8px;
}

/* Card to ensure uniform spacing around all images */
.main-card, .additional-card {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 90%;  /* Adjust to control how much space the cards take */
}

.image-caption {
  text-align: center;
  margin-top: 0.5rem; /* Space above the caption */
  font-size: 1.2rem; /* Font size for the caption */
  color: #333; /* Text color for the caption */
}